doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=(1.0)")
        title Тестовое задание
        link(rel="stylesheet", href="css/main.css")
    body
        header.header
            .container
                h1.title.title-h1.header__title Knightsbridge private park - элитный район Лондона в центре  
        main
            section.hero
                .container.row.hero__row
                    .col.edge.hero__edge
                        ul.edge-list
                            li.edge-item
                                span.edge-title.text--black 156 - 636
                                    span.sub м
                                        sup 2
                                span.edge-subtitle.text--gray Площадь квартир
                            li.edge-item
                                span.edge-title.text--black 475
                                span.edge-subtitle.text--gray Парковочных мест
                            li.edge-item
                                span.edge-title.text--black 10 
                                    span.sub мин
                                span.edge-subtitle.text--gray До метро Фрунзенская
                            li.edge-item
                                span.edge-title.text--black 2 
                                    span.sub га
                                span.edge-subtitle.text--gray Площадь собственного парка
                        p.desc.edge__desc.text--black
                            | Жилой комплекс из четырех клубных домов класса де-люкс в английском стиле, расположенный в собственном парке площадью 3 га в районе Хамовники. Авторы интерьеров жилого копмлекса,и дизайна частного парка – дизайнеры мировой величины. Так, общественные зоны оформляет Дэвид Линли, племянник королевы Великобритании и глава компании LINLEY, а настоящий английский парк для жителей
   
                    a.link.hero__link(href="") узнать подробнее
                    .col.presentation
                        picture.presentation-img--big
                            source(srcset="img/zaglushkaT.svg" media="min-width: 375px")
                            source(srcset="img/zaglushkaD.svg" media="(min-width: 768px)")
                            img(src="img/zaglushkaM.svg", alt="")
                        ul.presentation-list
                            li.presentation-item
                                img.presentation-img(src="img/present-img.png", alt="")
                                span Презентация ЖК Knightsbridge Private Рark
                            li.presentation-item
                                img.presentation-img(src="img/present-img.png", alt="")
                                span Типы планировок апартаментов
            section.maps 
                .container.row
                    .col
                        h2 на карте
                        ul.maps-list 
                            li.maps-item КРАСОТА И ЗДОРОВЬЕ
                                span.qty 7
                            li.maps-item МАГАЗИНЫ
                                span.qty 7
                            li.maps-item ОБУЧЕНИЕ
                                span.qty 7
                            li.maps-item ДЕТСАД
                                span.qty 7
                            li.maps-item ОТДЫХ, РАЗВЛЕЧЕНИЯ
                                span.qty 7
                    .col
                        .maps-overlay
                            .maps-overlay__img
                                img.maps-img(src="", alt="")
                                img.maps-icon(src="", alt="")

        footer
            .container