doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=(1.0)")
        title Тестовое задание
        link(rel="stylesheet", href="css/main.css")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    body
        header.header
            .container
                h1.title.title-h1.header__title Knightsbridge private park - элитный район Лондона в центре  
        main
            section.hero
                .container.row.hero__row
                    .col.edge.hero__edge
                        ul.edge-list
                            li.edge-item
                                span.edge-title.text--black 156 - 636
                                    span.sub м
                                        sup 2
                                span.edge-subtitle.text--gray Площадь квартир
                            li.edge-item
                                span.edge-title.text--black 475
                                span.edge-subtitle.text--gray Парковочных мест
                            li.edge-item
                                span.edge-title.text--black 10 
                                    span.sub мин
                                span.edge-subtitle.text--gray До метро Фрунзенская
                            li.edge-item
                                span.edge-title.text--black 2 
                                    span.sub га
                                span.edge-subtitle.text--gray Площадь собственного парка
                        p.desc.edge__desc.text--black
                            | Жилой комплекс из четырех клубных домов класса де-люкс в английском стиле, расположенный в собственном парке площадью 3 га в районе Хамовники. Авторы интерьеров жилого копмлекса,и дизайна частного парка – дизайнеры мировой величины. Так, общественные зоны оформляет Дэвид Линли, племянник королевы Великобритании и глава компании LINLEY, а настоящий английский парк для жителей
   
                    a.link.hero__link(href="") узнать подробнее
                    .col.presentation
                        picture.presentation-img--big
                            source(srcset="img/zaglushkaT.svg" media="(min-width: 501px)")
                            source(srcset="img/zaglushkaD.svg" media="(min-width: 568px)")
                            img(src="img/zaglushkaM.svg", alt="")
                        ul.presentation-list
                            li.presentation-item
                                img.presentation-img(src="img/present-img.png", alt="")
                                span Презентация ЖК Knightsbridge Private Рark
                            li.presentation-item
                                img.presentation-img(src="img/present-img.png", alt="")
                                span Типы планировок апартаментов
            section.maps 
                .container.row.maps__row
                    .col
                        h2.title.title-h2.maps__title на карте
                        ul.maps-list 
                            li.maps-item 
                                button.maps-btn(data-maps="health") КРАСОТА И ЗДОРОВЬЕ
                                    b.qty 7
                            li.maps-item
                                button.maps-btn(data-maps="shop") МАГАЗИНЫ
                                    b.qty 7
                            li.maps-item
                                button.maps-btn(data-maps="lerning") ОБУЧЕНИЕ
                                    b.qty 7
                            li.maps-item
                                button.maps-btn(data-maps="baby") ДЕТСАД
                                    b.qty 7
                            li.maps-item 
                                button.maps-btn(data-maps="chill") ОТДЫХ, РАЗВЛЕЧЕНИЯ
                                    b.qty 7
                    .col.maps__col
                        .maps-overlay
                                .maps-img
                                    .maps-icon.maps-icon__coffe(data-icon="chill")
                                        img(src="img/coffee-cup.svg", alt="")
                                    .maps-icon.maps-icon__coffe(data-icon="chill")
                                        img(src="img/coffee-cup.svg", alt="")
                                    .maps-icon.maps-icon__coffe(data-icon="chill")
                                        img(src="img/coffee-cup.svg", alt="")
                                    .maps-icon.maps-icon__shop(data-icon="shop")
                                        img(src="img/shop-cup.svg", alt="")
                                    .maps-icon.maps-icon__shop(data-icon="shop")
                                        img(src="img/shop-cup.svg", alt="")
                                    .maps-icon.maps-icon__shop(data-icon="shop")
                                        img(src="img/shop-cup.svg", alt="")
                                    .maps-icon.maps-icon__shop(data-icon="shop")
                                        img(src="img/shop-cup.svg", alt="")
                                    .maps-icon.maps-icon__mortarboard(data-icon="lerning")
                                        img(src="img/mortarboard.svg", alt="")
                                    .maps-icon.maps-icon__mortarboard(data-icon="lerning")
                                        img(src="img/mortarboard.svg", alt="")
                                    .maps-icon.maps-icon__video(data-icon="")
                                        img(src="img/video-camera.svg", alt="chill")
                                    .maps-icon.maps-icon__baby(data-icon="baby")
                                        img(src="img/baby-face.svg", alt="")
                                    .maps-icon.maps-icon__baby(data-icon="baby")
                                        img(src="img/baby-face.svg", alt="")
                                    .maps-icon.maps-icon__baby(data-icon="baby")
                                        img(src="img/baby-face.svg", alt="")
                                    .maps-icon.maps-icon__hospital(data-icon="health")
                                        img(src="img/hospital-sign.svg", alt="")
                                    .maps-icon.maps-icon__hospital(data-icon="health")
                                        img(src="img/hospital-sign.svg", alt="")
                                    .maps-icon.maps-icon__lipstick(data-icon="health")
                                        img(src="img/lipstick.svg", alt="")
                                    .maps-icon__jiraf
                                        img(src="img/jitaf.svg", alt="")
        footer.footer
            .container
                .swiper.hang.mySwiper
                    h2.title.title-h2.footer__title особенности работы
                    h3.title.title-h3.footer__subtitle компании saffari estate
                    .hang-list.swiper-wrapper
                        .hang-item.swiper-slide
                            span.hang__number 01
                            h3.title.title-h3.hang__title большая база
                            p.desc.hang__desc У нас самая большая база актуальных и эксклюзивных объектов элитной недвижимости
                            a.link.hang__link(href=("")) Посмотреть
                        .hang-item.swiper-slide
                            span.hang__number 02
                            h3.title.title-h3.hang__title надежность
                            p.desc.hang__desc Мы гарантируем абсолютую безопасность и конфиденциальность по сделкам
                            a.link.hang__link(href=("")) Узнать
                        .hang-item.swiper-slide
                            span.hang__number 03
                            h3.title.title-h3.hang__title опыт
                            p.desc.hang__desc Наша команда имеет огромный опыт продаж недвижимости в элитном сегменте
                            a.link.hang__link(href=("")) Изучить
                        .hang-item.swiper-slide
                            span.hang__number 04
                            h3.title.title-h3.hang__title закрытыe
                            p.desc.hang__desc Есть объекты, которые предлагаем только мы
                            a.link.hang__link(href=("")) Получить
                        .hang-item.swiper-slide
                            span.hang__number 01
                            h3.title.title-h3.hang__title большая база
                            p.desc.hang__desc У нас самая большая база актуальных и эксклюзивных объектов элитной недвижимости
                            a.link.hang__link(href=("")) Посмотреть
                        .hang-item.swiper-slide
                            span.hang__number 02
                            h3.title.title-h3.hang__title надежность
                            p.desc.hang__desc Мы гарантируем абсолютую безопасность и конфиденциальность по сделкам
                            a.link.hang__link(href=("")) Узнать
                        .hang-item.swiper-slide
                            span.hang__number 03
                            h3.title.title-h3.hang__title опыт
                            p.desc.hang__desc Наша команда имеет огромный опыт продаж недвижимости в элитном сегменте
                            a.link.hang__link(href=("")) Изучить
                        .hang-item.swiper-slide
                            span.hang__number 04
                            h3.title.title-h3.hang__title закрытыe
                            p.desc.hang__desc Есть объекты, которые предлагаем только мы
                            a.link.hang__link(href=("")) Получить
                    .my-swiper-button-next
                    .my-swiper-button-prev
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        script(src="js/main.js") 