doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=(1.0)")
        title Тестовое задание
        link(rel="stylesheet", href="css/main.css")
    body
        header.header
            .container
                h1 Knightsbridge private park – элитный район Лондона в центре  
        main
            section.hero
                .container.row
                    .col
                        ul.edge-list
                            li.edge-item
                                span.title-list 156 - 636 м2
                                span.title-subtitle Площадь квартир
                            li.edge-item
                                span.title-list 475
                                span.title-subtitle Парковочных мест
                            li.edge-item
                                span.title-list 10 мин
                                span.title-subtitle До метро Фрунзенская
                            li.edge-item
                                span.title-list 2 га
                                span.title-subtitle Площадь собственного парка
                        p.desc.edge__desc
                            | Жилой комплекс из четырех клубных домов класса де-люкс в английском стиле, расположенный в собственном парке площадью 3 га в районе Хамовники. Авторы интерьеров жилого копмлекса,и дизайна частного парка – дизайнеры мировой величины. Так, общественные зоны оформляет Дэвид Линли, племянник королевы Великобритании и глава компании LINLEY, а настоящий английский парк для жителей
                    .col
                        a(href="") Узнать подробнее
                    .col
                        picture 
                        ul.presentation-list
                            li.resentation-item
                                img.resentation-img(src="", alt="")
                                span Презентация ЖК Knightsbridge Private Рark
                            li.resentation-item
                                img.resentation-img(src="", alt="")
                                span Типы планировок апартаментов
            section.maps 
                .container.row
                    .col
                        h2 на карте
                        ul.maps-list 
                            li.maps-item КРАСОТА И ЗДОРОВЬЕ
                                span.qty 7
                            li.maps-item МАГАЗИНЫ
                                span.qty 7
                            li.maps-item ОБУЧЕНИЕ
                                span.qty 7
                            li.maps-item ДЕТСАД
                                span.qty 7
                            li.maps-item ОТДЫХ, РАЗВЛЕЧЕНИЯ
                                span.qty 7
                    .col
                        .maps-overlay
                            .maps-overlay__img
                                img.maps-img(src="", alt="")
                                img.maps-icon(src="", alt="")

        footer
            .container